<h1 class="edit-heading"><strong>Editing Book</strong></h1>

<%= form_with model: @book do |f| %>

<p>Title</p>
<%= f.text_field :title %>

<p>Body</p>
<%= f.text_area :body %>

<span class="edit-update-botton">
<%= f.submit 'Update Book' %>
</span>

<% end %>
