<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8" />
     <link rel="stylesheet" href="homes.sccss" />
     <title>WebCampBackendNew</title>
  </head>


  <body>
    <h1 class="heading">ようこそ
    <strong>Bookers</strong>へ!
    </h1>

    <p class="sentence">
      <strong>Bookers</strong>では、様々な書籍に関するあなたの意見や
    </p>
    <p class="sentence">
      印象を共有し交換することできます。
    </P>

    <P class="link">
      <a href="/books/new">start</a>
    </P>
  </body>
</html>