// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-submit{
  display: block;
}

.show-item{
  margin: 33px;
  line-height: 18px;
  color: #333;
  font-size: 13px;
}

.edit-heading{
  line-height: 18px;
}

.edit-update-botton{
  display: block;
}

index.html.erb body{
  display: inline-block;
}

.notice{
  color: green;
}