// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
}

.heading{
  margin: 17.42px, 0;
  color: rgb(51, 51, 51);
  font-size: 26px;
  line-height: 18px;
}


.sentence{
  margin: 33px;
  color: rgb(51, 51, 51);
  font-size: 13px;
  line-height: 18px;
}

.link {
  margin: 33px;
  color: rgb(51, 51, 51);
  font-size: 13px;
}